# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.UgurSogutmaCallHandler.iml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Dumpy\PROJECTS\Csharp Projects\UgurSogutmaCallHandler\.idea\.idea.UgurSogutmaCallHandler.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
